<div class="container">
    
    <table class="table table-bordered table-hover table-striped">
    
       <thead>
         <tr>
            <th class="bg-secondary" colspan="6"><h4>Listagem de Alunos</h4></th>
         </tr>
          <tr>
             <th align="start">Matricula</th>
             <th align="start">Nome</th>
             <th align="start">Email</th>  
             <th align="start">Data matrícula</th>  
             <th align="start">curso</th>
             <th align="start">Operações</th>       
          </tr>
       </thead>
      
       <tbody>
            <?php
         
               while ($row = $result->fetch_assoc()) {
                  
                  echo "<tr>";
                  echo "<td align='start'>{$row['id']}</td>";
                  echo "<td align='start'>{$row['nome']}</td>";
                  echo "<td align='start'>{$row['email']}</td>";
                  echo "<td align='start'>{$row['data_matricula']}</td>";
                  echo "<td align='start'>{$row['curso_id']}</td>";
                  echo "<td align='start'>
                           <a href='editar.php?matricula={$row["id"]}' class='btn btn-info btn-sm'> Editar </a> 
                           <a href='excluir.php?matricula={$row["id"]}' class='btn btn-danger btn-sm'> Excluir </a> 
                        </td>";
                  echo "</tr>";
              }
       
           ?>   
       </tbody>
    
    </table>
    
    </div>