<div class="container">

    <h4>Listagem de Alunos</h4>
    
    <table class="table table-bordered table-hover table-striped">
    
       <thead>
          <tr>
             <th align="start">Matricula</th>
             <th align="start">curso</th>
             <th align="start">Nome</th>
             <th align="start">Nascimento</th>  
             <th align="start">Operações</th>       
          </tr>
       </thead>
      
       <tbody>
            <?php
         
            
               foreach ($alunos as $chave => $aluno) {
                  $matricula = $aluno[0];
                  echo "<tr>";
                  echo "<td align='start'> $matricula</td>";
                  echo "<td align='start'>".$aluno[1]."</td>";
                  echo "<td align='start'>".$aluno[2]."</td>";
                  echo "<td align='start'>".$aluno[3]."</td>";
                  echo "<td align='start'>
                           <a href='editar.php?matricula=$matricula' class='btn btn-info btn-sm'> Editar </a> 
                           <a href='excluir.php?matricula=$matricula'' class='btn btn-danger btn-sm'> Excluir </a> 
                        </td>";
                  echo "</tr>";
              }
       
           ?>   
       </tbody>
    
    </table>
    
    </div>