<form id="form-aluno" name="form-aluno" action="<?=$_SERVER['PHP_SELF']?>" method="POST">

  <div class="form-group">
    <label for="id">Matrícula</label>
    <input class="form-control" type="number" id="id" name="id" value="<?=$aluno['id'] ?? '0' ?>" required="required"
      readonly="readonly">
  </div>

  <div class="form-group">
    <label for="curso_id">Curso</label>
    <select class="form-control" name="curso_id" id="curso_id">

      <option selected value="">Selecione um curso...</option>
      <!-- preenche com os dados do curso -->
      <?php
        
        include __DIR__ . "/../../libs/conexao.php";

        $sql = "select * from cursos";
        
        $stm = mysqli_prepare($conn, $sql);
        $stm->execute();
        
        $result = $stm->get_result();

        while ( $row = $result->fetch_assoc()){ 
          
          if ( $aluno['curso_id']){
            echo "<option selected value='{$aluno["curso_id"]}'> 
                    {$row['id']}-{$row['nome']}
                  </option>";
                } else {
                  echo "<option value='{$row["id"]}'> 
                           {$row['id']}-{$row['nome']} 
                  </option>";
                }
          }

           $conn->close();
      
        ?>

    </select>
  </div>

  <div class="form-group">
    <label for="nome">Nome</label>
    <input class="form-control" type="text" id="nome" name="nome" value="<?=$aluno['nome'] ?? '' ?>"
      required="required">
  </div>

  <div class="form-group">
    <label for="email">E-mail</label>
    <input class="form-control" type="email" id="email" name="email" value="<?=$aluno['email'] ?? '' ?>"
      required="required">
  </div>

  <div class="form-group">
    <label for="data_matricula">Data Matrícula</label>
    <input class="form-control" type="date" id="data_matricula" name="data_matricula"
      value="<?=$aluno['data_matricula'] ?? '' ?>" required="required">
  </div>

  <div class="my-2">
    <button type="submit" class="btn btn-primary"> Salvar </button>
    <button type="reset" class="btn btn-warning"> Cancelar </button>
  </div>
</form>


</div>