<div class="card">
   <div class="card-header">
      <div class="card-title">
         <i class="fa fa-check"></i> Boletins
      </div>
   </div>
   <div class="card-body">

      <table class="table table-bordered table-hover table-striped">

         <thead>
            <tr>
               <th class="bg-secondary" colspan="6">
                  <i class="fa fa-list"></i> Listagem de Boletins
               </th>
            </tr>
            <tr>
               <th align="start" width="100">ID</th>
               <th align="start" width='*'>Nome</th>
               <th align="start" width="100">Boletim</th>
               <th align="start" width="160">Operações</th>
            </tr>
         </thead>

         <tbody>

            <?php
               
                     while ($row = $boletim->fetch_assoc()) {
                        
                        echo "<tr>";
                        echo "<td align='start'>{$row['id']}</td>";
                        echo "<td align='start'>{$row['nome']}</td>";
                        echo "<td align='start'>{$row['email']}</td>";
                        echo "<td align='start'>{$row['data_matricula']}</td>";
                        echo "<td align='start'>{$row['curso']}</td>";
                        echo "<td align='start'>
                                 <a href='editar.php?id={$row["id"]}' class='btn btn-info btn-sm'><i class='fa fa-edit'></i> Editar </a> 
                                 <a href='excluir.php?id={$row["id"]}' class='btn btn-danger btn-sm'><i class='fa fa-trash'></i> Excluir </a> 
                              </td>";
                        echo "</tr>";
                    }
             
                 ?>
         </tbody>

      </table>


   </div>
   <div class="card-footer">

   </div>
</div>
