<form id="form-incluir-turma" name="form-incluir-turma" action="<?=$_SERVER['PHP_SELF']?>" method="POST">

  <div class="form-group">
    <label for="id">ID</label>
    <input class="form-control" type="number" id="id" name="id" value="<?=$turma['id'] ?? '0' ?>"
      required="required" readonly="readonly">
  </div>

  <div class="form-group">
    <label for="nome">Nome</label>
    <input class="form-control" type="text" id="nome" name="nome" value="<?=$turma['nome'] ?? ''?>" required="required">
  </div>
  <div class="form-group">
    <label for="data_inicio">Data de início:</label>
    <input class="form-control" type="date" id="data_inicio" name="data_inicio" value="<?=$turma['data_inicio'] ?? ''?>"
      required="required">
  </div>
  <div class="form-group">
    <label for="data_termino">Data término:</label>
    <input class="form-control" type="date" id="data_termino" name="data_termino"
      value="<?=$turma['data_termino'] ?? ''?>" required="required">
  </div>

  <div class="my-2">
    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Salvar </button>
    <button type="reset" class="btn btn-warning"><i class="fa fa-recycle"></i> Cancelar </button>
  </div>
</form>