<div class="container">
    <div class="row">

        <div class="col-12">

            <table class='table table-bordered table-hover table-striped'>

                <thead>
                    <tr>
                        <th style='background-color: gray;' colspan='6'>Tabela de Cursos</th>
                    </tr>
                    <tr>
                        <th>ID</th>
                        <th>Turma</th>
                        <th>Inicio</th>
                        <th>Término</th>
                        <th width="180">Operação</th>
                    </tr>
                </thead>

                <tbody>

                    <?php while (  $row = $result->fetch_object() ){ ?>

                    <tr>
                        <td><?="{$row->id}"?></td>
                        <td><?="{$row->nome}"?></td>
                        <td class="text-center"><?="{$row->data_inicio}"?></td>
                        <td class="text-center"><?="{$row->data_termino}"?></td>
                        <td>
                            <a class='btn btn-info btn-sm' href='editar.php?id=<?="{$row->id}"?>'>
                                <i class='fa fa-edit'></i> Editar</a>
                            <a class='btn btn-danger btn-sm' href='excluir.php?id=<?="{$row->id}"?>'>
                                <i class='fa fa-trash'></i> Excluir
                            </a>
                        </td>
                    </tr>

                    <?php } ?>

                </tbody>

            </table>

        </div>

    </div>
</div>